@model StockGroupViewModel

<h3>Stock Group Edit Form</h3>
<form action="/StockGroup/Update" method="post">       
    <div class="mb-3">
        <input type="hidden" name="Id" value="@Model.Id"/>

        <label for="Code" class="form-label">Code</label>
        <input type="text" class="form-control" name="Code" id="txtCode" value="@Model.Code" disabled>
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <input type="text" class="form-control" name="Description" id="txtDesc" value="@Model.Description" placeholder="enter Description here">
    </div>
    <div class="mb-3">
        <label for="Remarks">Remarks</label>
        <textarea class="form-control" placeholder="enter Remarks here" name="Remarks" id="txtRemarks">@Model.Remarks</textarea>
    </div>

    <button type="submit" class="btn btn-primary" id="btnUpdate">Update</button>
    <a href="List" class="btn btn-danger">Cancel</a>
</form>
